* {
  margin: 0;
}
.voiceSearch{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.voiceSearch > img{
height: 300px;
width: 100%;
}
.voiceSearch > h1 {
  font-size: 30px;
}
.voiceSearch > h2 {
  color: #5900b3;
  font-family:Georgia, 'Times New Roman', Times, serif
}